body, html {
  background: url("../Assets/Images/background-noise.png");
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0; }

h1 {
  font-family: "Great Vibes", cursive, Georgia !important;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 0.5% 0;
  color: white !important;
  font-size: 500% !important; }

h2 {
  font-family: Lato, sans-serif, Arial !important;
  margin: 3% auto !important;
  font-size: 150% !important;
  color: #81A1D1 !important;
  width: 60% !important; }

h4 {
  font-family: Lato, sans-serif, Arial !important;
  color: #81A1D1 !important; }

b {
  font-family: "Great Vibes", cursive, Georgia !important;
  font-size: 140% !important; }

a:link {
  color: #B1B8D1 !important; }

a:visited {
  color: #B1B8D1 !important; }

a:active {
  color: #B1B8D1 !important; }

a:focus {
  color: #B1B8D1 !important; }

a:hover {
  color: #C7CEEB !important; }

.nav-absolute {
  position: absolute !important;
  width: 100% !important;
  z-index: 1000 !important; }

.navbar-fixed-bottom {
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
  bottom: 0 !important;
  left: 0 !important; }

.distance {
  margin: 0 3% !important; }
  .distance .forms {
    margin: 5px;
    color: #B1B8D1 !important; }

.quillium {
  font-family: "Great Vibes", cursive, Georgia !important;
  font-size: 190% !important; }

.sections {
  padding: 4%; }

.content {
  position: absolute;
  display: block;
  width: 100%;
  overflow: visible;
  top: 50px;
  bottom: 50px; }
  .content .footer {
    background: #f8f8f8;
    color: #7a7a7a;
    border-top: 1px solid #e7e7e7;
    width: 100%;
    height: 50px;
    overflow: hidden;
    bottom: 0;
    left: 0; }
    .content .footer .credit {
      position: absolute;
      right: 0;
      margin: 0 5%;
      line-height: 50px; }
    .content .footer .impressum {
      position: absolute;
      left: 0;
      margin: 0 5%;
      line-height: 50px; }

.profile {
  background: url("../Assets/Images/profilelowpolybackground.jpg") !important; }

.background {
  top: 0;
  background: url("../Assets/Images/low-poly-texture-2.png");
  width: 100%;
  height: 50%;
  min-height: 25% !important;
  margin: 0 auto;
  display: inline-block; }
  .background .carousel {
    width: 100%;
    height: 100%;
    display: inline-block;
    max-height: 100% !important;
    min-height: 100% !important; }
    .background .carousel .carousel-inner {
      position: relative;
      display: inline-block;
      overflow: hidden;
      width: 100% !important;
      height: 100% !important;
      max-height: 100% !important;
      min-height: 100% !important; }
      .background .carousel .carousel-inner img {
        text-align: center;
        height: 100% !important;
        min-height: 70px !important;
        margin: 0 auto; }
        .background .carousel .carousel-inner img.slider-img {
          border-left: 10px solid white;
          border-right: 10px solid white; }
      .background .carousel .carousel-inner .in-front {
        position: absolute;
        top: 0;
        bottom: -30px;
        margin: auto;
        text-align: center !important;
        width: 60% !important;
        max-width: 70% !important;
        min-height: 200px !important;
        overflow: hidden;
        margin-left: -30%;
        left: 50%;
        z-index: 13; }
        .background .carousel .carousel-inner .in-front .jumbotron {
          background-color: transparent !important;
          min-height: 200px !important;
          text-align: center;
          height: auto; }
          .background .carousel .carousel-inner .in-front .jumbotron img {
            height: auto !important;
            max-height: 200px; }

.articles {
  padding: 4%; }

/*ERROR PAGE -------------------------------------------------------------------- */
.error-message {
  background: rgba(221, 71, 65, 0.7);
  padding: 2%;
  color: #561C19;
  font-size: 120%;
  border: 1px solid #DD4841;
  width: 50%;
  margin: 3% auto; }

.login-again {
  width: 50%;
  margin: 0 auto;
  padding: 2%;
  height: auto;
  background: rgba(65, 65, 65, 0.2);
  border-radius: 10px; }
  .login-again .form-horizontal {
    margin: 2%; }

.forgotpw {
  width: 50%;
  margin: 4% auto; }

/*RECOVERY PAGE -------------------------------------------------------------------- */
.reset-message {
  background: rgba(72, 87, 174, 0.7);
  padding: 2%;
  color: #252D4A;
  font-size: 120%;
  border: 1px solid #252D4A;
  width: 50%;
  margin: 3% auto; }

.email {
  width: 50%;
  margin: 0 auto;
  padding: 2% 2% 3% 2%;
  height: auto;
  background: rgba(65, 65, 65, 0.2);
  border-radius: 10px; }
  .email .form-horizontal {
    margin: 2%; }

/*THANK YOU PAGE -------------------------------------------------------------------- */
.thankyou-message {
  background: rgba(114, 197, 105, 0.7);
  padding: 2%;
  color: #252D4A;
  font-size: 120%;
  border: 1px solid #252D4A;
  width: 50%;
  margin: 3% auto; }

.email {
  width: 50%;
  margin: 0 auto;
  padding: 2% 2% 3% 2%;
  height: auto;
  background: rgba(65, 65, 65, 0.2);
  border-radius: 10px; }
  .email .form-horizontal {
    margin: 2%; }

/*PROFILE STYLING -------------------------------------------------------------- */
.profile-pic {
  background: white url("../Assets/Images/ATeam.jpg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 1000px;
  position: relative;
  top: 14%;
  margin: 0 auto;
  z-index: 13;
  height: 330px;
  width: 330px; }

.about-me {
  color: #7a7a7a;
  font-family: Lato, sans-serif, Arial;
  margin: 4% auto;
  width: 60%;
  text-align: center; }
  .about-me h3 {
    margin: 2% auto;
    text-align: center;
    color: #81A1D1;
    width: 50%;
    padding: 2% 5%;
    border: 7px solid #81A1D1; }

.txt {
  width: 70%;
  margin: 0 auto; }

.info {
  background: rgba(216, 213, 222, 0.1);
  text-align: center;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  padding: 2% 0;
  width: 100%;
  height: auto; }
  .info .stats {
    width: 450px;
    margin: 0 auto; }
  .info .row {
    margin: 2% auto;
    width: 100%;
    text-align: center; }
    .info .row .col-md-10 {
      text-align: right;
      font-family: Lato, sans-serif, Arial;
      color: #7a7a7a;
      font-size: 135%; }
    .info .row .col-md-2 {
      text-align: left; }
      .info .row .col-md-2 img {
        padding: 0 5%;
        height: 20px;
        width: auto; }
  .info .map {
    height: 350px;
    width: 500px;
    background: #B1B8D1;
    margin: 0 auto 4% auto;
    box-shadow: 3px 3px 4px #B1B8D1; }

.skill-lockup {
  max-width: 90%;
  text-align: center;
  margin: 5% auto;
  padding: 0 10%;
  overflow: auto;
  color: #7a7a7a;
  font-family: Lato, sans-serif, Arial;
  font-size: 110%; }
  .skill-lockup .skill-label {
    padding-bottom: 2%; }
  .skill-lockup .skill-unit {
    width: 50%;
    float: left; }
  .skill-lockup .skill-icon {
    font-size: 0;
    margin-bottom: 7%; }
    .skill-lockup .skill-icon span {
      display: inline-block;
      height: 6px;
      width: 35px;
      background: #81A1D1; }

.skill-lockup .skill-icon.skill-0 span:nth-child(n+1), .skill-lockup .skill-icon.skill-1 span:nth-child(n+2), .skill-lockup .skill-icon.skill-2 span:nth-child(n+3), .skill-lockup .skill-icon.skill-3 span:nth-child(n+4), .skill-lockup .skill-icon.skill-4 span:nth-child(n+5), .skill-lockup .skill-icon.skill-5 span:nth-child(n+6), .skill-lockup .skill-icon.skill-6 span:nth-child(n+7), .skill-lockup .skill-icon.skill-7 span:nth-child(n+8), .skill-lockup .skill-icon.skill-8 span:nth-child(n+9), .skill-lockup .skill-icon.skill-9 span:nth-child(n+10) {
  background: #E5E1EE; }

.work {
  background: rgba(216, 213, 222, 0.1);
  text-align: center;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  padding: 2% 0; }

.thumb-container {
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 100px; }
  .thumb-container:after {
    content: "";
    display: table;
    clear: both; }
  .thumb-container .thumb-unit {
    position: relative;
    display: block;
    width: 25%;
    background: pink;
    float: left;
    padding-top: 20%;
    overflow: hidden;
    background-image: url("../Assets/Images/Work/thumb.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }
    @media screen and (max-width: 760px) {
      .thumb-container .thumb-unit {
        width: 50%;
        padding-top: 25%; } }
    .thumb-container .thumb-unit .thumb-overlay {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      height: 100%;
      background: rgba(129, 161, 209, 0.7);
      transition: 0.5s;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: space-around; }
      .thumb-container .thumb-unit .thumb-overlay strong {
        display: block;
        color: white;
        font-weight: normal;
        font-size: 150%;
        font-family: Lato, sans-serif, Arial;
        line-height: 1.2;
        text-transform: uppercase;
        padding: 0 20px; }
    .thumb-container .thumb-unit:hover .thumb-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0; }

@media (min-width: 400px) and (max-width: 1070px) {
  .skill-lockup {
    width: 100%;
    padding: 0; }
    .skill-lockup h2 {
      font-size: 120%;
      margin: 7% auto; }
    .skill-lockup .skill-unit {
      width: 400px;
      margin: 0 auto;
      float: none; } }
@media (min-width: 400px) and (max-width: 540px) {
  .skill-lockup {
    width: 100%;
    padding: 0; }
    .skill-lockup .skill-unit {
      width: 200px;
      margin: 0 auto;
      float: none; }
    .skill-lockup .skill-icon span {
      width: 20px; }

  h1 {
    font-size: 400% !important;
    padding: 5% 0 !important; } }
.articles {
  top: 50%; }

@media (min-width: 200px) and (max-width: 400px) {
  h1 {
    font-size: 280% !important;
    padding: 5% 0 !important; }

  .background {
    height: 35%; }
    .background .carousel .carousel-indicators {
      display: none; }
    .background .carousel .carousel-inner .in-front {
      text-align: center; }
      .background .carousel .carousel-inner .in-front .jumbotron img {
        height: 110px !important; }

  .articles {
    top: 40% !important; } }
